{
  "include": ["src"],
  "exclude": ["src/index.js", "src/start.js", "src/common.js"],
  "check-coverage": true,
  "branches": 100,
  "lines": 100,
  "functions": 100,
  "statements": 100,
  "reporter": ["text", "lcov"],
  "all": true
}
